*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
.button-primary{
    background-color: #fd6e0a;
    color: #fff;
    font-size: 20px;
    font-weight: 400;
    border: 0;
    border-radius: 5px;
    padding: 18px 35px;
    cursor: pointer;
}
.header{
    background-color: #FFF8F3;
    background-image: url('images/header_bg.png'), url('images/developer.png');
    background-repeat: no-repeat;
    background-position: bottom right, left;
}
/* Header and Navigation styles */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 200px;
}
nav .nav-title{
    font-size: 35px;
    font-weight: 800;
}
.text-primary{
    color: #fd6e0a;
}
nav ul{
    display: flex;
    align-items: center;
    list-style: none;
}
nav ul li{
    margin-right: 50px;
    font-size: 20px;
    font-weight: 400;
}
nav ul li:last-child{
    margin-right: 0;
}

/* Banner Styles */
.banner{
    margin: 0 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* new */

}
.banner-sub-title{
    font-size: 45px;
    font-weight: 600;
}
.banner-title{
    font-size: 85px;
    font-weight: 700;
}
.banner-description{
    font-size: 18px;
    font-weight: 400;
    color: #757575;
    margin-bottom: 30px;
}

/* Main Section Styles */
main{
    max-width: 1140px;
    text-align: center;
    margin: 0 auto;
}


/* About Section Styles */
.about{
    margin-top: 130px;
    padding: 130px 150px;
    background-color: #FFF8F3;
    border-radius: 5px;
}
.section-title{
    font-size: 35px;
    font-weight: 700;
    color: #181818;
}
.section-description{
    font-size: 18px;
    font-weight: 400;
    color: #757575;
    padding: 30px 0;
}
.about-info-container{
    display: flex;
    justify-content: space-around;
}
.info-subtitle{
    font-size: 20px;
    font-weight: 400;
    color: #757575;
}
.info-description{
    font-size: 20px;
    font-weight: 700;
    color: #474747;
}

/* What I do & Skills Section */
.what-i-do{
    margin-top: 130px;
}
.skills-container{
    display: flex;
    text-align: left;
    justify-content: space-around;
    
}
.skill{
    max-width: 250px;
    margin: 15px;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 3px 3px 18px 0px rgba(133,131,131,0.89);
}
.skill-title{
    margin: 30px 0;
    font-size: 20px;
    font-weight: 700;
    color: #181818;
}
.skill-description{
    font-size: 16px;
    font-weight: 400;
    color: #757575;
}

/* Resume Section */
.resume{
    margin-top: 130px;
    margin-bottom: 130px;
}
.resume-content{
    display: flex;
    justify-content: space-between;
    text-align: left;
    margin-top: 80px;
}
.resume-title{
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 30px;
}
.my-education, .my-experience{
    margin: 20px;
}
.resume-item{
    border-bottom: 1px solid #474747;
    margin-bottom: 25px;
}
.title{
    font-size: 25px;
    font-weight: 700;
    color: #474747;
}
.sub-title{
    font-size: 20px;
    font-weight: 600;
    color: #757575;
}
.description{
    font-size: 16px;
    font-weight: 400;
    margin: 20px 0;
}

/* Contact Styles */
.contact{
    text-align: left;
    display: flex;
    gap: 100px;
    background-color: #FFF8F3;
    padding: 130px 200px;
}
.contact input[type="text"], input[type="email"], textarea{
    margin-bottom: 24px;
    border: 0;
    width: 100%;
    padding: 18px 30px;
    border-radius: 8px;
}
.contact ul{
    display: flex;
    list-style: none;
}
.contact ul li{
    margin-right: 20px;
}